
body {
    align-items: center;
    background-color: white;
}
.text {
    font-size: 100px;
    font-weight: bold;
    color: black;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
                 -5px -5px 10px rgba(0, 0, 0, 0.5),
                 8px 8px 15px rgba(0, 0, 0, 0.3);
}