

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: green;
}

.container {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}
