

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background-color: #f5f5f5;
}

.container {
    align-items: center;
    justify-content: space-evenly;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}
