#p-t{
    color: rgb(152, 250, 114);
    background-color: antiquewhite;
}


#p-sh{
    color: rgb(250, 241, 114);
    background-color: aquamarine;
}

#p-w{
    color: rgb(250, 114, 234);
    background-color: blue;
}

#p-si{
    color: rgb(197, 28, 9);
    background-color: blanchedalmond;
}

#p-vi{
    color: rgb(139, 62, 6);
    background-color: brown;
}