body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    text-wrap: wrap;
}

.container {
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
}

.red {
    background-color: red;
    width: 1000px;
    height: 1000px;
    justify-content: end;
}

.blue {
    background-color: blue;
    width: 500px;
    height: 500px;
    justify-content: right;
}

.green {
    background-color: green;
    width: 500px;
    height: 500px;
    justify-content: right;
}


.purple {
    background-color:purple;
    width: 1000px;
    height: 1000px;
    justify-content: end;
}

.back {
    background-color:black;
    width: 500px;
    height: 500px;
    justify-content: right;
}

.cyan {
    background-color: cyan;
    width: 500px;
    height: 500px;
    justify-content: right;
}

.brown {
    background-color:brown;
    width: 500px;
    height: 500px;
    justify-content: right;
}

.rame {
    background-color: darkcyan;
    width: 500px;
    height: 500px;
    justify-content: right;
}
