
a {
    text-decoration: none;
    color: blue;
    font-size: 16px;
    
}

a:hover {
    color: green;
    font-size: 18px;
}

a:active {
    background-color: black;
    color: white;
}
