
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;

}

.styled-link {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.link1 {
    color: white;
    background-color: #ff5733;
    font-family: 'Courier New', monospace;
}
.link1:hover {
     background-color: #cc4629;
     }
.link1:visited {
     color: #c70039; 
    }

.link2 {
    color: #fff;
    background-color: #007bff;
    font-family: 'Verdana', sans-serif;
}
.link2:hover { 
    background-color: #0056b3;
 }
.link2:visited { 
    color: #4b0082; 
}

.link3 {
    color: #000;
    background-color: #ffcc00;
    font-family: 'Georgia', serif;
}
.link3:hover {
     background-color: #e6b800;
     }
.link3:visited {
     color: #804000;
     }

.link4 {
    color: #fff;
    background-color: #28a745;
    font-family: 'Tahoma', sans-serif;
}
.link4:hover { 
    background-color: #1e7e34;
 }
.link4:visited {
     color: #006400;
     }

.link5 {
    color: #fff;
    background-color: #6f42c1;
    font-family: 'Times New Roman', serif;
}
.link5:hover {
     background-color: #5a32a3;
     }
.link5:visited { 
    color: #301934;
 }
